# FINALS PROJECT - "My Personal Data Analysis"

### Joshua Ezekiel A. Agawin - BSIT2C

``Create a notebook where you will be using your  preferred csv file. Attached to this portal is the criteria for scoring.``

___

**Define the Problem Statement**

**Direction :**   *Clearly outline the objective of the project, the problem to be solved, or the research question being addressed.*

The Objective of the project is to showcase the UK's domiciled HE student enrolments by subject area, principal subject, level of study, mode of study, ethnicity and academic year.

---


**Implement Core Algorithms or Models**

*Write and execute Python code to apply algorithms or methods relevant to the project (e.g., data mining, machine learning, or statistical analysis). Evaluate the results and metrics of the applied methods.*

---

**Visualization and Interpretation**

*Generate advanced visualizations (e.g., line plots, heatmaps) to present key findings. Provide a concise interpretation of the results (e.g., insights with conclusion and bibliography).*

---

**Documentation and Markdown Usage**

*Add Markdown cells to explain the code, methods, and findings in detail. Include headings, subheadings, and notes.*

---

**Presentation of Insights**

*Summarize the conclusions and insights derived from the project, linking them to the original problem statement.*

---

**Recommendations and Improvements**

*Suggest potential next steps, improvements, or applications of the findings for real-world scenarios.*

---

**Notebook Presentation**

*Ensure professional formatting with consistent styles and use of whitespace. Include an introduction, conclusion, and references (if applicable).*

**Data Importation and Cleaning**

*Load the dataset into the Jupyter Notebook (e.g., CSV, Excel, or database). Perform data cleaning, including handling missing values, duplicates, or erroneous data.*

In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
studentdata = pd.read_csv("student.csv")

In [3]:
studentdata

,Title,"UK domiciled HE student enrolments by subject area, principal subject, level of study, mode of study, ethnicity and academic year",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Location,UK,NaN,NaN,NaN,NaN,NaN
1,Academic years,2014/15 to 2018/19,NaN,NaN,NaN,NaN,NaN
2,Data source,HESA,NaN,NaN,NaN,NaN,NaN
3,Data source link,https://www.hesa.ac.uk/data-and-analysis/stude...,NaN,NaN,NaN,NaN,NaN
4,Data file canonical link,https://www.hesa.ac.uk/data-and-analysis/stude...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
131571,Subject area,Total,All undergraduate,Part-time,2014/15,Asian,18755
131572,Subject area,Total,All undergraduate,Part-time,2014/15,Mixed,7155
131573,Subject area,Total,All undergraduate,Part-time,2014/15,Other,3225
131574,Subject area,Total,All undergraduate,Part-time,2014/15,Not known,11520
131575,Subject area,Total,All undergraduate,Part-time,2014/15,Total,319110

**Exploratory Data Analysis (EDA)**

*Create visualizations (e.g., histograms, scatter plots, or bar charts) to explore trends and patterns.*

**Data Transformation**

*Apply data preprocessing techniques like normalization, scaling, or feature engineering (If ever).*

### Normalization

In [ ]:
pip install preprocessing
pip install sklearn

In [ ]:
from sklearn import preprocessing
import numpy as np

x_array = np.array([2,3,5,6,7,4,8,7,6])

normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

I tried doing the Normalization but failed sir!